<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RouletteX RTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body data-game="RouletteX" data-etg = "{{ etg }}" onload="loadNavigationButtons()">
    <header>
        <h1>RouletteX</h1>
    </header>
    <section id="tables">
        <table class="mainGame">
            <thead>
                <tr>
                    <th data-sort="betType">Bet Type</th>
                    <th data-sort="rtp">RTP</th>
                    <th data-sort="houseEdge">House Edge</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 Number (Straight Up) - 500-250-100-50 bonus</td>
                    <td>96.34%</td>
                    <td>3.66%</td>
                </tr>
                <tr>
                    <td>1 Number (Straight Up) - 1000-250-100-50 bonus</td>
                    <td>96.23%</td>
                    <td>3.77%</td>
                </tr>
                <tr>
                    <td>2 Numbers (Split)</td>
                    <td>97.22%</td>
                    <td>2.78%</td>
                </tr>
                <tr>
                    <td>3 Numbers (Street)</td>
                    <td>97.22%</td>
                    <td>2.78%</td>
                </tr>
                <tr>
                    <td>4 Numbers (Corner)</td>
                    <td>97.22%</td>
                    <td>2.78%</td>
                <tr>
                    <td>6 Numbers (6-Line)</td>
                    <td>97.22%</td>
                    <td>2.78%</td>
                </tr>
                <tr>
                    <td>Column / Dozen</td>
                    <td>97.22%</td>
                    <td>2.78%</td>
                </tr>
                <tr>
                    <td>Low / High</td>
                    <td>97.22%</td>
                    <td>2.78%</td>
                </tr>
                <tr>
                    <td>Even / Odd</td>
                    <td>97.22%</td>
                    <td>2.78%</td>
                </tr>
                <tr>
                    <td>Red / Black</td>
                    <td>97.22%</td>
                    <td>2.78%</td>
                </tr>
            </tbody>
        </table>
    </section>
    <div id="buttons-container"></div>
    <script src="{{ url_for('static', filename='scripts/loadNavigationButtons.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/tableSort.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>
