<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roulette RTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body data-game="Roulette" data-etg = "{{ etg }}" onload="loadNavigationButtons()">
    <header>
        <h1>Roulette</h1>
    </header>
    <section>
        <label for="menu-select">Roulette game: </label>
        <select id="menu-select">
            <option value="all">All</option>
            <option value="single-zero">Single Zero</option>
            <option value="double-zero">Double Zero</option>
            <option value="triple-zero">Triple Zero</option>
        </select>
    </section>
    <section id="tables">
        <div class="menu-filter" data-filter="single-zero">
            <h2>Single Zero</h2>
            <table class="mainGame">
                <thead>
                    <tr>
                        <th data-sort="betType">Bet Type</th>
                        <th data-sort="rtp">RTP</th>
                        <th data-sort="houseEdge">House Edge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 Number (Straight Up)</td>
                        <td>97.22%</td>
                        <td>2.78%</td>
                    </tr>
                    <tr>
                        <td>2 Numbers (Split)</td>
                        <td>97.22%</td>
                        <td>2.78%</td>
                    </tr>
                    <tr>
                        <td>3 Numbers (Street)</td>
                        <td>97.22%</td>
                        <td>2.78%</td>
                    </tr>  
                    <tr>
                        <td>4 Numbers (corner)</td>
                        <td>97.22%</td>
                        <td>2.78%</td>
                    </tr>   
                    <tr>
                        <td>6 Numbers (6-line)</td>
                        <td>97.22%</td>
                        <td>2.78%</td>
                    </tr>   
                    <tr>
                        <td>Column / Dozen</td>
                        <td>97.22%</td>
                        <td>2.78%</td>
                    </tr> 
                    <tr>
                        <td>Low / High</td>
                        <td>97.22%</td>
                        <td>2.78%</td>
                    </tr> 
                    <tr>
                        <td>Even / Odd</td>
                        <td>97.22%</td>
                        <td>2.78%</td>
                    </tr> 
                    <tr>
                        <td>Red / Black</td>
                        <td>97.22%</td>
                        <td>2.78%</td>
                    </tr> 
                </tbody>
            </table>   
        </div>
        <div class="menu-filter" data-filter="double-zero">
            <h2>Double Zero</h2>
            <table class="mainGame" data-etg="no">
                <thead>
                    <tr>
                        <th data-sort="betType">Bet Type</th>
                        <th data-sort="rtp">RTP</th>
                        <th data-sort="houseEdge">House Edge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 Number (Straight Up)</td>
                        <td>94.74%</td>
                        <td>5.26%</td>
                    </tr>
                    <tr>
                        <td>2 Numbers (Split)</td>
                        <td>94.74%</td>
                        <td>5.26%</td>
                    </tr>
                    <tr>
                        <td>3 Numbers (Street)</td>
                        <td>94.74%</td>
                        <td>5.26%</td>
                    </tr>  
                    <tr>
                        <td>4 Numbers (corner)</td>
                        <td>94.74%</td>
                        <td>5.26%</td>
                    </tr> 
                    <tr>  
                        <td>5 Numbers (5-line)</td>
                        <td>92.11%</td>
                        <td>7.89%</td>
                    </tr>
                    <tr>
                        <td>6 Numbers (6-line)</td>
                        <td>94.74%</td>
                        <td>5.26%</td>
                    </tr>   
                    <tr>
                        <td>Column / Dozen</td>
                        <td>94.74%</td>
                        <td>5.26%</td>
                    </tr> 
                    <tr>
                        <td>Low / High</td>
                        <td>94.74%</td>
                        <td>5.26%</td>
                    </tr> 
                    <tr>
                        <td>Even / Odd</td>
                        <td>94.74%</td>
                        <td>5.26%</td>
                    </tr> 
                    <tr>
                        <td>Red / Black</td>
                        <td>94.74%</td>
                        <td>5.26%</td>
                    </tr> 
                </tbody>
            </table>  
        </div>
        <div class="menu-filter" data-filter="triple-zero">
            <h2>Triple Zero</h2>
            <table class="mainGame" data-etg="no">
                <thead>
                    <tr>
                        <th data-sort="betType">Bet Type</th>
                        <th data-sort="rtp">RTP</th>
                        <th data-sort="houseEdge">House Edge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 Number (Straight Up)</td>
                        <td>92.31%</td>
                        <td>7.69%</td>
                    </tr>
                    <tr>
                        <td>2 Numbers (Split)</td>
                        <td>92.31%</td>
                        <td>7.69%</td>
                    </tr>
                    <tr>
                        <td>3 Numbers (Street)</td>
                        <td>92.31%</td>
                        <td>7.69%</td>
                    </tr>  
                    <tr>
                        <td>4 Numbers (corner)</td>
                        <td>92.31%</td>
                        <td>7.69%</td>
                    </tr> 
                    <tr>  
                        <td>5 Numbers (5-line)</td>
                        <td>89.74%</td>
                        <td>10.26%</td>
                    </tr>
                    <tr>
                        <td>6 Numbers (6-line)</td>
                        <td>92.31%</td>
                        <td>7.69%</td>
                    </tr>   
                    <tr>
                        <td>Column / Dozen</td>
                        <td>92.31%</td>
                        <td>7.69%</td>
                    </tr> 
                    <tr>
                        <td>Low / High</td>
                        <td>92.31%</td>
                        <td>7.69%</td>
                    </tr> 
                    <tr>
                        <td>Even / Odd</td>
                        <td>92.31%</td>
                        <td>7.69%</td>
                    </tr> 
                    <tr>
                        <td>Red / Black</td>
                        <td>92.31%</td>
                        <td>7.69%</td>
                    </tr> 
                </tbody>
            </table>     
        </div>    
         
    </section>
    <div id="buttons-container"></div>
    <script src="{{ url_for('static', filename='scripts/loadNavigationButtons.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>
