<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sic-Bo RTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body data-game="Sic-Bo" data-etg = "{{ etg }}" onload="loadNavigationButtons()">
    <header>
        <h1>Sic-Bo</h1>
    </header>
    <section id="tables">
        <table class="mainGame">
            <thead>
                <tr>
                    <th data-sort="betType">Bet Type</th>
                    <th data-sort="rtp">RTP</th>
                    <th data-sort="houseEdge">House Edge</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Small / Big</td>
                    <td>97.22%</td>
                    <td>2.78%</td>
                </tr>
                <tr data-etg="no">
                    <td>Even / Odd</td>
                    <td>97.22%</td>
                    <td>2.78%</td>
                </tr>
                <tr data-etg="no">
                    <td>Triple</td>
                    <td>83.80%</td>
                    <td>16.20%</td>
                </tr>
                    <tr data-etg="yes">
                    <td>Triple</td>
                    <td>88.43%</td>
                    <td>11.57%</td>
                </tr>
                <tr data-etg="no">
                    <td>Double</td>
                    <td>88.89%</td>
                    <td>11.11%</td>
                </tr>
                    <tr data-etg="yes">
                    <td>Double</td>
                    <td>96.30%</td>
                    <td>3.70%</td>
                </tr>
                <tr>
                    <td>Any Triple</td>
                    <td>88.89%</td>
                    <td>11.11%</td>
                </tr>
                <tr>
                    <td>3 dice total - 4 or 17</td>
                    <td>87.50%</td>
                    <td>12.50%</td>
                </tr>
                <tr>
                    <td>3 dice total - 5 or 16</td>
                    <td>88.89%</td>
                    <td>11.11%</td>
                </tr>
                <tr>
                    <td>3 dice total - 6 or 15</td>
                    <td>87.96%</td>
                    <td>12.04%</td>
                </tr>
                <tr>
                    <td>3 dice total - 7 or 14</td>
                    <td>90.28%</td>
                    <td>9.72%</td>
                </tr>
                <tr>
                    <td>3 dice total - 8 or 13</td>
                    <td>87.50%</td>
                    <td>12.50%</td>
                </tr>
                <tr>
                    <td>3 dice total - 9 or 12</td>
                    <td>92.59%</td>
                    <td>7.41%</td>
                </tr>
                <tr>
                    <td>3 dice total - 10 or 11</td>
                    <td>87.50%</td>
                    <td>12.50%</td>
                </tr>
                <tr>
                    <td>2 Dice combinations (Domino)</td>
                    <td>97.22%</td>
                    <td>2.78%</td>
                </tr>
                <tr>
                    <td>Any one number</td>
                    <td>96.30%</td>
                    <td>3.70%</td>
                </tr>
                <tr data-etg="no">
                    <td>Four-number combination</td>
                    <td>88.89%</td>
                    <td>11.11%</td>
                </tr>
            </tbody>
        </table>
    </section>
    <div id="buttons-container"></div>
    <script src="{{ url_for('static', filename='scripts/loadNavigationButtons.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/tableSort.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>
