<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three Card Poker RTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body data-game="Three Card Poker" data-etg="{{ etg }}" onload="loadNavigationButtons()"
        data-side-bets="{% for side_bet in side_bets %}
            {{ url_for('side_bet_page', side_bet_name=side_bet.file_path.replace('.html', '')) }}{% if not loop.last %},{% endif %}
        {% endfor %}">
    <header>
        <h1>Three Card Poker</h1>
    </header>
    <section id="tables">
        <div>
        <table class="mainGame">
            <thead>
                <tr>
                    <th data-sort="betType">Bet Type</th>
                    <th data-sort="aveUnitsBet">Average Units Bet</th>
                    <th data-sort="rtp">RTP</th>
                    <th data-sort="houseEdge">House Edge</th>                        
                    <th data-sort="effectiveHouseEdge">Effective RTP / House Edge</th>
                </tr>
            </thead>
            <tbody>
                <tr data-etg="both">
                    <td>5-4-1 paytable</td> 
                    <td>1.67</td>
                    <td>96.63%</td>
                    <td>3.37%</td>
                    <td>97.99% / 2.01%</td>
                </tr>
            </tbody>
            <tbody>
                <tr data-etg="yes">
                    <td>5-3-1 paytable</td>
                    <td>1.67</td>
                    <td>96.39%</td>
                    <td>3.61%</td>
                    <td>97.84% / 2.16%</td>
                </tr>
            </tbody>
            <tbody>
                <tr data-etg="yes">
                    <td>4-3-1 paytable</td>
                    <td>1.67</td>
                    <td>96.17%</td>
                    <td>3.83%</td>
                    <td>97.72% / 2.28%</td>
                </tr>
            </tbody>
        </table>
    </div>       
    </section>
    <section>
        <h2>Side Bets</h2>
        <table id="sideBets">
            <thead>
                <tr>
                    <th class="column-1" data-sort="betType">Side Bet</th>
                    <th class="column-2" data-sort="rtp">RTP</th>
                    <th class="column-3" data-sort="houseEdge">House Edge</th>
                </tr>
            </thead>
            <tbody id="sideBets-tbody">
                <!-- Side bets will be dynamically inserted here -->
            </tbody>
        </table>
    </section>
    <div id="buttons-container"></div>
    <script src="{{ url_for('static', filename='scripts/loadNavigationButtons.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/tableSort.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>

</html>
