<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dragon Bonus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body data-etg = "{{ etg }}" onload="loadNavigationButtons()">
    <header>
        <h1>Dragon Bonus</h1>
    </header>
    <section>

        <label for="menu-select">Select number of decks: </label>
        <select id="menu-select">
            <option value="all">All</option>
            <option value="6">6 Decks</option>
            <option value="8">8 Decks</option>
        </select>
    </section>
    <section id="tables">
        <div class="menu-filter" data-filter="6" data-etg="no">
            <h2>6 Decks</h2>
            <table class="sideBets">
                <thead>
                    <tr>
                        <th data-sort="betType">Bet Type</th>
                        <th data-sort="rtp">RTP</th>
                        <th data-sort="houseEdge">House Edge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Banker</td>
                        <td>97.35%</td>
                        <td>2.65%</td>
                    </tr>
                    <tr>
                        <td>Player</td>
                        <td>90.63%</td>
                        <td>9.37%</td>
                    </tr>  
                </tbody>
            </table>
        </div> 
        <div class="menu-filter" data-filter="8" data-etg="no">
            <h2>8 Decks</h2>
            <table class="sideBets">
                <thead>
                    <tr>
                        <th data-sort="betType">Bet Type</th>
                        <th data-sort="rtp">RTP</th>
                        <th data-sort="houseEdge">House Edge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Banker</td>
                        <td>97.35%</td>
                        <td>2.65%</td>
                    </tr>
                    <tr>
                        <td>Player</td>
                        <td>90.63%</td>
                        <td>9.37%</td>
                    </tr>  
                </tbody>
            </table>
        </div> 
    </section>
    <div id="buttons-container"></div>
    <script src="{{ url_for('static', filename='scripts/loadNavigationButtons.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>
