<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pair Plus RTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body data-etg="{{ etg }}" onload="loadNavigationButtons()">
    <header>
        <h1>Pair Plus</h1>
    </header>
    <section id="tables">
        <div class="menu-filter">
            <table class="sideBets">
                <thead>
                    <tr>
                        <th data-sort="betType">Bet Type</th>
                        <th data-sort="rtp">RTP</th>
                        <th data-sort="houseEdge">House Edge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-etg="yes">
                        <td>40-30-6-4-1 paytable</td>
                        <td>97.68%</td>
                        <td>2.34%</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr data-etg="both">
                        <td>40-25-6-4-1 paytable</td>
                        <td>96.51%</td>
                        <td>3.49%</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr data-etg="yes">
                        <td>40-30-5-4-1 paytable</td>
                        <td>94.43%</td>
                        <td>5.57%</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr data-etg="yes">
                        <td>40-30-6-3-1 paytable</td>
                        <td>92.72%</td>
                        <td>7.28%</td>
                    </tr>
                </tbody> 
                <tbody>
                    <tr data-etg="yes">
                        <td>35-25-6-4-1 paytable</td>
                        <td>95.42%</td>
                        <td>4.58%</td>
                    </tr>
                </tbody>  
                <tbody>
                    <tr data-etg="yes">
                        <td>35-33-6-4-1 paytable</td>
                        <td>97.30%</td>
                        <td>2.70%</td>
                    </tr>
                </tbody>                             
            </table>
        </div>
   
    </section>
    <div id="buttons-container"></div>
    <script src="{{ url_for('static', filename='scripts/loadNavigationButtons.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>
