<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6 Card Bonus RTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body data-etg="{{ etg }}" onload="loadNavigationButtons()">
    <header>
        <h1>6 Card Bonus</h1>
    </header>
    <section id="tables">
        <div class="menu-filter" data-etg="yes">
            <table class="sideBets">
                <thead>
                    <tr>
                        <th data-sort="betType">Bet Type</th>
                        <th data-sort="rtp">RTP</th>
                        <th data-sort="houseEdge">House Edge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1000-200-50-25-20-10-5 paytable</td>
                        <td>89.78%</td>
                        <td>10.22%</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>1000-200-100-20-15-9-8 paytable</td>
                        <td>93.26%</td>
                        <td>6.74%</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>1000-200-100-20-15-10-7 paytable</td>
                        <td>91.44%</td>
                        <td>8.56%</td>
                    </tr>
                </tbody>                
            </table>
        </div>
   
    </section>
    <div id="buttons-container"></div>
    <script src="{{ url_for('static', filename='scripts/loadNavigationButtons.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/tableSort.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>
