<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3 Card Bonus RTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body onload="loadNavigationButtons()">
    <header>
        <h1>3 Card Bonus</h1>
    </header>
    <section id="tables">
        <div class="menu-filter">
            <table class="sideBets">
                <thead>
                    <tr>
                        <th data-sort="betType">Bet Type</th>
                        <th data-sort="rtp">RTP</th>
                        <th data-sort="houseEdge">House Edge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3 Card Bonus</td>
                        <td>96.51%</td>
                        <td>3.49%</td>
                    </tr>
                </tbody>
            </table>
        </div>
   
    </section>
    <div id="buttons-container"></div>
    <script src="{{ url_for('static', filename='scripts/loadNavigationButtons.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>
