<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiger Baccarat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body data-etg = "{{ etg }}" onload="loadNavigationButtons()">
    <header>
        <h1>Tiger Baccarat</h1>
    </header>
    <section>
        <label for="menu-select">Select number of decks: </label>
        <select id="menu-select">
            <option value="all">All</option>
            <option value="6">6 Decks</option>
            <option value="8">8 Decks</option>
        </select>
    </section>
    <section id="tables">
        <div class="menu-filter" data-filter="6" data-etg="no">
            <h2>6 Decks</h2>
            <table class="sideBets">
                <thead>
                    <tr>
                        <th data-sort="betType">Bet Type</th>
                        <th data-sort="rtp">RTP</th>
                        <th data-sort="houseEdge">House Edge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tiger Tie</td>
                        <td>88.35%</td>
                        <td>11.65%</td>
                    </tr>
                    <tr>
                        <td>Small Tiger</td>
                        <td>85.65%</td>
                        <td>14.35%</td>
                    </tr>
                    <tr>
                        <td>Big Tiger</td>
                        <td>93.00%</td>
                        <td>7.00%</td>
                    </tr>  
                    <tr>
                        <td>Tiger</td>
                        <td>86.61%</td>
                        <td>13.39%</td>
                    </tr>   
                    <tr>
                        <td>Tiger Pair</td>
                        <td>85.38%</td>
                        <td>14.62%</td>
                    </tr>   
                </tbody>
            </table>
        </div>
        <div class="menu-filter" data-filter="8" data-etg="no">
            <h2>8 Decks</h2>
            <table class="sideBets">
                <thead>
                    <tr>
                        <th data-sort="betType">Bet Type</th>
                        <th data-sort="rtp">RTP</th>
                        <th data-sort="houseEdge">House Edge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tiger Tie</td>
                        <td>88.50%</td>
                        <td>11.50%</td>
                    </tr>
                    <tr>
                        <td>Small Tiger</td>
                        <td>85.67%</td>
                        <td>14.33%</td>
                    </tr>
                    <tr>
                        <td>Big Tiger</td>
                        <td>93.06%</td>
                        <td>6.94%</td>
                    </tr>  
                    <tr>
                        <td>Tiger</td>
                        <td>86.64%</td>
                        <td>13.36%</td>
                    </tr>   
                    <tr>
                        <td>Tiger Pair</td>
                        <td>86.48%</td>
                        <td>13.52%</td>
                    </tr>   
                </tbody>
            </table>
        </div>
    </section>
    <div id="buttons-container"></div>
    <script src="{{ url_for('static', filename='scripts/loadNavigationButtons.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/tableSort.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>
